        //CATEGORY SECTION

.category {
    padding: 80px 101px 191px;
    color: var(--pri-color);

    .title {
        line-height: 67.2px;
    }

    .container {
        margin-top: 103px;

        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 103px;

            a {text-decoration: none;}
            
            .col-lg-4 {
                padding: 11px 15px 16px 15px;
                color: var(--pri-color);

                .img {
                    position: relative;
                    margin-bottom: 21px;

                    img {
                        height: 338px;
                        width: 100%;
                        object-fit: cover;
                    }
                    span {
                        position: absolute;
                        left: 34%;
                        top: 46%;
                        display: none;                                        
                    }
                }
                span {
                    &.name {
                        font-weight: 300;
                    }
                    &.price {
                        margin-top: 11px;
                    }                
                }
                
                &:hover {
                    box-shadow: 0px 2px 10px 2px #ddd;

                    & .img span.icon-cart {
                        background-color: var(--active-color);
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        visibility: visible;

                        position: absolute;
                        top: unset;
                        left: unset;
                        bottom: -20px;
                        right: 16px;
                    }
                }
            }
            .outOfStock {
                color: var(--fade-color);

                .img {
                    opacity: 0.5;

                    span:nth-child(2) {
                        display: unset;
                    }
                }
            }
        }
    }
}

        //PDP

.pdp {
    padding: 80px 178px 260px 80px;
    gap: 80px;

    .product {
        gap: 40px;

        .colorChange {
            gap: 34px;

            img {
                width: 85px;
                height: 87px;
                object-fit: cover;
            }
        }
        .image {
            img {
                width: 630px;
                height: 513px;
                object-fit: cover;
            }
        }
    }
    .description {
        color: var(--pri-color);

        .nameBold {
            margin-bottom: 16px;
        }
        .nameLight {
            margin-bottom: 43px;
        }
        .size {
            
            & > span {
                margin-bottom: 8px;
            }

            .sizes {
                gap: 12px;
                margin-bottom: 24px;

                span {
                    font-weight: 400;
                    width: 63px;
                    height: 45px;
                    border: 1px solid var(--pri-color);
                }
            }
            .color {
                gap: 8px;
                margin-bottom: 36px;

                span {
                    width: 36px;
                    height: 36px;
                    background-color: var(--active-color);
                    border: 1px solid var(--active-color);
                }
            }
            .price {
                width: 86px;
                height: 46px;

            }
        }

        button {
            color: #fff;
            background-color: var(--active-color);
            width: 292px;
            height: 50px;
            margin-top: 20px;
            margin-bottom: 40px;
            border: none;
        }
        
                    .plusMinus {
                        gap: 40px;

                        span {
                            height: 40px;
                        }
                        button {
                            width: 40px;
                            height: 40px;
                        }
                    }

        p {
            font-size: 16px;
            color: var(--pri-color);
            width: 292px;
        }
    }
}

        //CART SECTION

.cart {
    padding: 80px 100px 274px 100px;

    & > span {
        color: var(--pri-color);
        margin-bottom: 55px;
    }

    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #E5E5E5;
        margin-bottom: 24px;
    }

    section {
        color: var(--pri-color);

        .cartSection {
    
            .leftContent {
    
                .nameBold {
                    margin-bottom: 16px;         
                }
                .price {
                    margin: 20px 0px;
                }
                .size {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
    
                    .sizes {
                        gap: 8px;
    
                        span {
                            padding: 13.5px 22.5px;
                            border: 1px solid var(--pri-color);
                            margin-bottom: 16px;
                        }
                    }
                    .color {
                        gap: 8px;
    
                        span {
                            width: 36px;
                            height: 36px;
                            border: 1px solid var(--active-color);
                        }
                    }
                }
            }
            .rightContent {
                gap: 24px;
                color: var(--pri-color);
    
                .button {
    
                    button {
                        width: 45px;
                        height: 45px;
                        border: 1px solid var(--pri-color);
                    }           
                }
    
                .content {
                    height: 288px;
                    width: 200px;
                    position: relative;              
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    & > span {
                        gap: 8px;
                        position: absolute;
                        bottom: 16px;
                        right: 16px;


                        .arrow {
                            background: rgba(0, 0, 0, 0.73);
                            color: #fff;
                            width: 24px;
                            height: 24px;        
                        }
                    }
                }
            }
        }
            hr {
                margin: 24px 0;
            }
        }

        table {
            tr {
                height: 36px;
            }
            td {
                span {
                    padding-left: 20px;                    
                }
            }
        }
        .order {
            width: 279px;
            height: 43px;
            border: none;
            background-color: var(--active-color);
            color: #fff;
            margin-top: 16px;
        }
        
    }

        //CATEGORY OVERLAY

.overlay {
    background: rgba(57, 55, 72, 0.22);
    position: absolute;
    top: 52px;
    right: -100px;
    width: 100vw;
    height: calc(100vh - 80px);
    visibility: hidden;
    // opacity: .4;

    .categoryOverlay {
        width: 325px;
        padding: 52px 16px;
        color: var(--pri-color);
        background: #fff;
        z-index: 50;
        position: absolute;
        top: -32px;
        right: 70px;
    
        section {
            margin-top: 32px;
            padding-bottom: 8px;
    
            .leftContent {
                .nameLight {margin-top: 4px;}
                .price {margin: 8px 0;}
                .size {
                    gap: 8px;
                    margin-bottom: 8px;
                    
                    .sizes {gap: 8px;
                        
                        span {
                            width: 24px;
                            height: 24px;
                            border: 1px solid var(--pri-color);
                        }
                    }
    
                    .color {gap: 8px;
                        span {
                            width: 20px;
                            height: 20px;
                            border: 1px solid var(--active-color);
                        }
                    }
                }
            }
    
            .rightContent {
                gap: 8px;
                color: var(--pri-color);
    
                .button {
    
                    button {
                        width: 24px;
                        height: 24px;
                        border: 1px solid var(--pri-color);
                    }
                }
    
                .content {
                    height: 190px;
                    width: 121px;      
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    
        .total {margin: 32px 0;}
    
        .button {gap: 12px;
            
            button {
                width: 140px;
                height: 43px;
                border: 1px solid var(--pri-color);
                background-color: transparent;
    
                &.checkout {
                    color: #fff;
                    background-color: var(--active-color);
                    border: none;
                }
            }
        }
    }
    
}
        //CURRENCY SWITCHER

.currency {
    width: 114px;
    padding: 20px auto 20px 20px;
    position: absolute;
    top: 40px;
    right: -10px;
    box-shadow: 0px 10px 10px 1px #eee;
    background-color: #fff;
    visibility: hidden;
    z-index: 50;

    & > span {
        height: 45px;

        &.active {
            background-color: #EEE;
        }
    }
}