        //CATEGORY SECTION

.category {
    padding: 0rem 6.313rem;
    color: var(--pri-color);
    @include laptop {padding: 3.75rem 7% 90px;}

    .content {
        margin-top: 5rem;
        @include laptop {margin-top: 6.5%;}
    }

    .title {
        line-height: 67.2px;
        text-transform: capitalize;
        @include tablet {font-size: 2.25rem;}
        @include mobile {font-size: 30px;}
    }

    .container {
        margin-top: 6.438rem;
        @include laptop {margin-top: 8.3%;}

        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 2.5rem;
            grid-row-gap: 6.438rem;

        @include laptop {grid-colum-gap: 3.23%; gap-row-gap: 7.7%;}

            a {text-decoration: none;}
            
            .col-lg-4 {
                padding: 0.688rem 0.938rem 1rem;
                color: var(--pri-color);
                max-height: 27.75rem;
                @include laptop {padding: 2.69% 3.89% 3.6%;}

                .img {
                    position: relative;
                    margin-bottom: 1.5rem;
                    max-width: 22.25rem;
                    height: 21.125rem;
                    @include laptop {
                        margin-bottom: 6.8%;
                        // height: unset;
                        max-height: 338px;
                    
                    }
                    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                    span {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        bottom: 0;
                        transform: translateY(-20%);
                        text-align: center;
                        display: none;
                    }
                }
                span {
                    &.name {
                        font-weight: 300;
                    }
                    &.price {
                        margin-top: 0.688rem;
                        @include laptop {margin-top: 3.1%;}
                    }                
                }
                
                &:hover {
                    box-shadow: 0px 2px 10px 2px #ddd;

                    & .img span.icon-cart {
                        background-color: var(--active-color);
                        height: 3.125rem;
                        width: 3.125rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        visibility: visible;

                        position: absolute;
                        top: unset;
                        left: unset;
                        bottom: -1.25rem;
                        right: 1rem;

                        // @include laptop {width: 2.5rem; height: 2.5rem;}
                        // @include tablet {width: 30px; height: 30px; bottom: -17px;}
                        // @include mobile {width: 25px; height: 25px; bottom: -12px; right: 0.5rem;}
                    }
                }
            }
            .outOfStock {
                color: var(--fade-color);

                .img {
                    opacity: 0.5;

                    span:nth-child(2) {
                        display: unset;
                        // @include laptop {font-size: 18px;}
                        // @include tablet {font-size: 14px;}
                        // @include mobile {font-size: 10px;}
                    }
                }
            }
        }
    }
}

        //PDP

.pdp {
    padding: 5rem 6.25rem 11.125rem;
    gap: 2.5rem;

    .product {
        flex: 2;
        gap: 2.5rem;
        // @include laptop {gap: 30px;}

        .colorChange {
            gap: 2.5rem;
            // @include laptop {gap: 26px;}
            
            img {
                width: 4.938rem;
                height: 5rem;
                object-fit: cover;

                @include laptop {
                    width: 3.75rem;
                    height: 3.75rem;
                    object-fit: contain;
                }
            }
        }
        .image {
            max-width: 630px;
            max-height: 513px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include laptop {
                    font-size: 12px;
                    object-fit: contain;
                }
            }
        }
    }
    .description {
        color: var(--pri-color);
        flex: 1;

        .nameBold {
            margin-bottom: 1rem;
            // @include laptop {font-size: 26px;}
        }
        .nameLight {
            margin-bottom: 2.688rem;
            // @include laptop {font-size: 26px;}
        }
        .size {
            
            & > span {
                margin-bottom: 0.5rem;
            }

            .sizes {
                gap: 0.75rem;
                margin-bottom: 1.5rem;
                position: relative;

                span {
                    font-weight: 400;
                    width: 3.938rem;
                    height: 2.813rem;
                    border: 1px solid var(--pri-color);
                    // @include laptop {width: 55px; height: 38px;}
                }
            }
            .color {
                gap: 0.5rem;
                margin-bottom: 2.25rem;

                span {
                    width: 2.25rem;
                    height: 2.25rem;
                    outline-offset: 1px;
                    // @include laptop {width: 1.5rem; height: 1.5rem;}

                    &:last-child {
                        border: 1px solid var(--pri-color);
                    }
                }
            }

            .container {
                display: block;
                position: relative;
                cursor: pointer;
                height: 100%;
                width: 100%;
                -webkit-user-select: none;
                -moz-user-select: none;
                -moz-user-select: none;
                user-select: none;

                & input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #eee;
                }

                & input:checked ~ .checkmark {
                    background-color: #000;
                    border: 1px solid #000;
                    color: white;
                }
            }


            .price {
                width: 5.375rem;
                height: 2.875rem;
            }

            .textBg {
                background: #000;
                color: white;
            }
            .swatchBg {
                border: 2px solid var(--active-color);
            }
        }

        button {
            color: #fff;
            background-color: var(--active-color);
            width: 18.25rem;
            height: 3.125rem;
            margin-top: 1.25rem;
            margin-bottom: 2.5rem;
            border: none;
            // @include laptop {width: 258px; height: 44px;}
        }
        
            .plusMinus {
                gap: 2.5rem;
                // @include laptop {gap: 2.25rem;}

                span {
                    height: 2.5rem;
                }
                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    // @include laptop {width: 2.25rem; height: 2.25rem;}
                }
            }

        p {
            font-size: 1rem;
            color: var(--pri-color);
            width: 18.25rem;
        }
    }
}

        //CART SECTION

.cart {
    padding: 5rem 6.25rem 17.125rem 6.25rem;
    // @include laptop {padding: 5.58% 6.95% 19.1%;}


    & > span {
        color: var(--pri-color);
        margin-bottom: 3.438rem;
        // @include laptop {margin-bottom: 4.45%;}

    }

    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #E5E5E5;
        margin-bottom: 1.5rem;
        @include laptop {margin-bottom: 1.9%;}
    }

    section {
        color: var(--pri-color);

        .cartSection {
    
            .leftContent {
    
                .nameBold {
                    margin-bottom: 1rem;     
                }
                .price {
                    margin: 1.25rem 0px;
                }
                .size {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
    
                    .sizes {
                        gap: 0.5rem;

                        label {
                            label span:before {
                                border: 1px solid #222021;
                                width: 1.25rem;
                                height: 1.25rem;
                                margin-right: 0.625rem;
                                display: inline-block;
                                vertical-align: top;
                              }
                              
                              label span:after {
                                background: #222021;
                                width: 0.875rem;
                                height: 0.875rem;
                                position: absolute;
                                top: 2px;
                                left: 4px;
                                transition: 300ms;
                                opacity: 0;
                              }
                        }
    
                        span {
                            padding: 0.844rem 1.406rem;
                            border: 1px solid var(--pri-color);
                            margin-bottom: 1rem;
                        }

                        .sizeBg {
                            background: #000;
                            color: #fff;
                        }
                    }
                    .color {
                        gap: 0.5rem;
    
                        span {
                            width: 2.25rem;
                            height: 2.25rem;
                            border: 1px solid var(--active-color);
                            outline-offset: 2px;
                        }
                    }
                }
            }
            .rightContent {
                gap: 1.5rem;
                color: var(--pri-color);
    
                .button {
    
                    button {
                        width: 2.813rem;
                        height: 2.813rem;
                        border: 1px solid var(--pri-color);
                    }           
                }
    
                .content {
                    height: 18rem;
                    width: 12.5rem;
                    position: relative;              
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                    & > span {
                        gap: 0.5rem;
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;

                        .arrow {
                            background: rgba(0, 0, 0, 0.73);
                            color: #fff;
                            width: 1.5rem;
                            height: 1.5rem;
                            border: none;
                        }
                    }
                }
            }
        }
            hr {
                margin: 1.5rem 0;
                // @include laptop {margin: 1.94% 0;}
            }
        }

        table {
            tr {
                height: 2.25rem;
            }
            td {
                span {
                    padding-left: 1.25rem;                    
                }
            }
        }
        .order {
            width: 17.438rem;
            height: 2.688rem;
            border: none;
            background-color: var(--active-color);
            color: #fff;
            margin-top: 1rem;
        }
        
    }

        //CATEGORY OVERLAY

.categoryOverlay {
    position: absolute;
    width: 18.313rem;
    max-height: 41.688rem;
    padding: 2rem 1rem;
    color: var(--pri-color);
    background: #fff;
    position: absolute;
    top: 3.1rem;
    right: -1rem;
    z-index: 50;

    .overlayContent {
        max-height: 30.437rem;
        padding-bottom: 1rem;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    section {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        justify-content: space-between;

        .leftContent { margin-right: auto; line-height: 1.6rem;
            .nameLight {margin-top: 4px;}
            .price {margin: 0.5rem 0;}
            .size {line-height: 1rem;
                gap: 0.5rem;
                margin-bottom: 0.625rem;
                
                .sizes {gap: 0.5rem;
                    
                    span {
                        padding: 3px;
                        font-size: 14px;
                        border: 1px solid var(--pri-color);
                        line-height: unset;
                    }
                }

                .color {gap: 0.5rem;
                    span {
                        width: 1rem;
                        height: 1rem;
                        border: 1px solid var(--active-color);
                        outline-offset: 1px;
                    }
                }
            }
        }

        .rightContent {
            gap: 0.5rem;
            color: var(--pri-color);

            .button {
                button {
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 1px solid var(--pri-color);
                }
            }

            .content {
                height: 11.875rem;
                width: 7.563rem;      
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .total {margin: 1.563rem 0 2rem;}

    .button {gap: 0.75rem; padding: 0 0.031rem;
        
        button {
            width: 8.75rem;
            height: 2.688rem;
            border: 1px solid var(--pri-color);
            background-color: transparent;
            cursor: pointer;

            &.checkout {
                color: #fff;
                background-color: var(--active-color);
                border: none;
            }
        }
    }
}
 
        //CURRENCY SWITCHER

.currency {
    position: absolute;
    top: 2.1rem;
    right: -10px;
    box-shadow: 0px 10px 15px 1px #eee;
    background-color: #fff;
    z-index: 100;

    & > span {
        width: 114px;
        height: 2.813rem;

        &.active {
            background-color: #eee;
        }
        
        &:hover {
            background-color: #eee;
        }
    }
}